.carousel {
    border: 1px solid;
    padding: 5px 15px;
    border-color: #525FE1;
    margin: 0 5px;
}

.carousel-body {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.carousel-image {
    height: 70vh;
}


.carousel-image img {
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.carousel-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #FF0505;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
}

.active {
    opacity: 100% !important;
}

.dot {
    border: 3px solid;
    width: 3px;
    text-align: center;
    border-radius: 50%;
    opacity: 50%;
}

.best-deals {
    margin: 20px 0 60px 0;
}

.product{
    width: 400px;
}

.add-to-cart {
    padding: 20px;
    text-align: center;
    color: var(--accent-color);
    border: 1px solid var(--primary-color);
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.best-deal-btn:hover {
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.desc-title {
    display: block;
}

.product-specs {
    background-color: #F86F03;
    border-top-left-radius: 10px;
    border-color: #F86F03;
    padding: 5px 0;
    border-top-right-radius: 10px;
}

.product-specs h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.product-title {
    margin: 20px 0;
}

.product-text {
    padding: 5px;
    margin: 0 5px;
}

.product-spec-description,
.product-price {
    background-color: white;
    padding: 10px;
}

.product-spec-description {
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

/*.best-deal-text{
    background-color: white;
}*/

.best-deal-header {
    padding: 20px 0;
    background-color: #F86F03;
    color: white;
}

.best-deal-header h2 {
    text-align: center;
}

.best-deal-price {
    border-radius: 0 0 10px 10px;
}

.slide-right {
    animation: 3s slide-right;
}

.best-deals .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 5%;
    gap: 25px;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}
